{% extends "layout.html" %}

{% block content %}

<div class="content-section" >
    <h1 style="display:inline"> Results </h1>    
<br>
One point for each correct answer and (+1) if your time is faster
<br>
<br>

		<table>
		<thead>
        <tr>
			<th scope="col" style=""> <h6 style="">Question</h6> </th>

			<th scope="col" style=""><h6 style="" >{{player}}</h6> </th>

            <th scope="col" style=""><h6 style="" >{{opponent}}</h6></th>
			
		</tr>
		</thead>

		<tbody>
			{% for vocab in game_results %}
			<tr>			
				<td><h6 style=""> {{vocab}}</h6></td>
				<td><h6 style=""> {{game_results[vocab][player][0]}}  {% if game_results[vocab][player][1] == 1 %}  (+1) {% endif %} </h6></td>
				<td><h6 style="">{{game_results[vocab][opponent][0]}} {% if game_results[vocab][opponent][1] == 1 %} (+1) {% endif %} </h6></td>
							
			</tr>
			{% endfor %}
			
			
		</tbody>
		
		</table>

		
</div>

<div class="content-section" >
	<h3 style="color:hotpink"> The Winner is ..... {{winner}} </a></h3>
</div>

<div class="content-section" >
	<h1> <a href="{{url_for('fight')}}"> New Challenge </a></h1>
</div>




{% endblock content %}


{% block script %}




{% endblock %}  

    

