{% extends "layout.html" %}

{% block content %}

<div class="content-section" >
    <h1 style="display:inline"> Results </h1>    
<br>
<br>
<br>

		<table>
		<thead>
        <tr>
			<th scope="col" style=""> <h6 style="">Question</h6> </th>

			<th scope="col" style=""><h6 style="" >{{user}}</h6> </th>

            <th scope="col" style=""><h6 style="" >{{opponent}}</h6></th>

			<th scope="col" style=""><h6 style="" >Your Speed</h6></th>
		</tr>
		</thead>

		<tbody>
			{% for r in rDict %}
			<tr>			
				<td><h6 style=""> {{r}}</h6></td>
				<td><h6 style=""> {{rDict[r][0]}}</h6></td>
				<td><h6 style="">{{rDict[r][2]}}</h6></td>
				<td><h6 style="">{{rDict[r][4]}}</h6></td>				
			</tr>
			{% endfor %}
			<tr style="color:purple">			
				<th><h6 > Total </h6></th>
				<td><h6 style="color:purple"> {{scores[user]}}</h6></td>
				<td><h6 style="color:purple">{{scores[opponent]}}</h6></td>
				<td><h6 style=""></h6></td>				
			</tr>
			
		</tbody>
		
		</table>

		
</div>

<div class="content-section" >
	<h3 style="color:hotpink"> The Winner is ..... {{winner}} </a></h3>
</div>

<div class="content-section" >
	<h1> <a href="{{url_for('fight')}}"> New Fight </a></h1>
</div>




{% endblock content %}


{% block script %}




{% endblock %}  

    

