{% extends "layout.html" %}

{% block content %}

<div class="content-section" align="center" >
    <h1 style="display:inline"> Challenge Zone </h1>
    <h1 id="zone" style="display:inline"> </h1>
<br>
<legend class="border-bottom mb-4"> </legend>
		 <button id="readyButton" class="btn btn-danger">Ready</button> 
		 <br>
		<table>
		
			<th scope="col" style="">
				
				<div class="player-div" id="ready1" align="center">
						<img class="rounded-circle account-img" src="{{users[1][1]}}" id="img1">
						<br>
						<h5 style="color:white" id="name1">{{users[1][0]}}</h5>	
                       
				</div>
			</th>

            <th scope="col" style="">
				<div class="player-div" id="ready2" align="center">
				    	<img class="rounded-circle account-img" src="{{users[2][1]}}" id="img2">
						<br>						
						<h5 style="color:white" id="name2">{{users[2][0]}}</h5>						
                                               
                       
			</th>
		
		</table>
</div>

<div class="content-section" align="center" style="display:none">
		<button type="button" onclick="create_inputs(1)"> Start </button> 
</div>

<div class="content-section" style="height:50px" align="center">
        <h3 id="head" style="color:purple;display:inline"> </h3> 
		<h3 id="timer" style="color:purple;display:inline"> </h3>  
</div>


<div class="content-section" id="qBox" align="center" style="height:300px">		    

</div>

<button id="clicker" style="visibility:hidden"> NONE </button>
<button id="finish" style="visibility:hidden" value=""> NONE </button>
<h1 id="stop" style="visibility:hidden">go</h1>

<span id="qJSON" style="visibility:hidden"></span>
<span id="username" style="visibility:hidden">{{username}}</span>

{% endblock content %}


{% block script %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" src="{{url_for('static', filename= 'js/vocab_game.js')}}"></script>

{% endblock %}  

    

