{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <h1> Vocab Game Zone </h1>

    <br>
    {% if current_user.username %}
    <h3> Welcome {{current_user.username}}. Good luck in the Game Zone today!</h3>
    <br>
    <a href="{{url_for('fight')}}"><img src="static\json_files\battle.png"></a>
    <br>
    <br>
    
    <h2> Victories: {{victories}} </h2>






    {% else %}
    <h3> Welcome challenger! Please <a href="{{url_for('login')}}">Log In</a> </h3>
    {% endif %}
    <br>
    
    

</div>

{% if current_user.studentID == '021281'%}
<div class="content-section" align="center">  
    
    <br>
    <br>
    <h3> Waiting: <h3>
    <h3 id="waiting"> <h3>
    <br>
    <h3> Games in progress <h3>
    <h3 id="games"> <h3>
</div>
{% endif %}



{% endblock content %}

{% block script %}

<script>   

    //var myVar = setInterval(waiting, 10000);
    
    function waiting() {		
		$.ajax({
			data : {
				home : 'home'
			},
			type : 'POST',
            url : '/waiting',            
		})
		.done(function(data) {
            console.log(data)            
			
            document.getElementById('waiting').innerHTML = data.count 
            document.getElementById('games').innerHTML = data.games
			
		});
	
    }

</script>

{% endblock %}

    

